In [10]:
import numpy as np
import pandas as pd
import hmm

In [11]:
train = pd.read_csv('input/attack_seq.csv')
train.head()

        session                                            eventid
0  0001e8d7139c                                           [12, 11]
1  0002b5bf574e  [12, 10, 8, 3, 4, 3, 2, 3, 4, 3, 4, 3, 4, 4, 4...
2  00057ad723bc                                 [12, 10, 8, 7, 11]
3  000798a8f503                                    [12, 1, 10, 11]
4  0007b2a15730                                    [12, 1, 10, 11]

In [12]:
train.iloc[20]

session    002b650dd870
eventid        [12, 11]
Name: 20, dtype: object

In [13]:
N = 13
M = 13
T = 5

In [14]:
mod = hmm.HMM(N, M, T)

In [15]:
O = np.array([[12, 10, 8, 10, 11], [12, 10, 8, 7, 11], [12, 10, 8, 7, 11]])

In [16]:
print (mod.train(O))

Update #1 Probability: -1.974675533563748
Update #1 Probability: -1.648625498854314
Update #1 Probability: -1.0955874324632842
Update #1 Probability: -0.6486999264215005
Update #1 Probability: -0.4556354723618365
Update #1 Probability: -0.3264759763743042
Update #1 Probability: -0.18106901571683812
Update #1 Probability: -0.05500200623719915
Update #1 Probability: -0.008734784804899079
Update #1 Probability: -0.0016799549424956369
Update #1 Probability: -0.00015780890014677705
Update #1 Probability: -1.608142593592783e-06
Update #1 Probability: -2.0524607945465606e-10
None

In [17]:
for i in O:
    print (type(i))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [19]:
mod.full_prob(mod.forward(O[0]))

0.9999999993842618